

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #fff;
    font-size: 0.9375rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width:100%;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;

}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #5e9a28;
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 4.375rem;
    line-height: 5.5rem;
    color:#fff;
}
h2 {
    font-size:1.875rem;
    line-height: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}
h3 {
    font-size:0.875rem;
    line-height: 2.5rem;
    margin-bottom:20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 0.575rem;
    font-family: 'Kaushan Script', cursive;
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.375rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 950px;
}
.home-overlay {
    background-color: rgba(237, 237, 237, 0.80);
    width: 100%;
    height:auto;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.all_overlay{
    background: rgba(219, 116, 117, 0.75); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
    rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7475', endColorstr='#e4cd7d',GradientType=0 ); /* IE6-9 */

}


.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 3px;
    width: 127px;
    margin: 25px auto;
    background: #f38181;
}
.whiseparator {
    height: 10px;
    width: 127px;
    margin: 20px auto;
    background: url(../images/whiseparator.png) no-repeat;
}
.separator2 {
    height: 2px;
    width: 200px;
    margin:20px 0px;
    background: #AB987A;
}
.separator3 {
    height: 2px;
    width: 30px;
    margin:20px auto;
    background: #5e9a28;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #f38181;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}



.btn {
    display: inline-block;
    min-width: 160px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 20px;
    border-radius: 0px;
    margin-top: 20px;
    background-color: transparent;
    transition: .5s;
    border: 1px solid #fff;

}
.btn:hover {
    background-color:#f5c239;
    color: #fff;
    text-decoration: none;
    border: 1px solid #f5c239;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transition: .5s;
    padding: 6px 30px;
}

.btn_news_color{
    color:#5e9a28;
    border-color: #5e9a28;
}

.btn-md{
    border:1px solid #5e9a28;
    color:#5e9a28;
}


.btn-larg{
    border: 1px solid #fff;
    color:#fff;
    padding: 6px 30px;
}





/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}


.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#f6c23a;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #f6c23a;
    padding-bottom: 20px;
    border-bottom: 2px solid #FDE48A;
    background: transparent;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
}
.navbar-brand>img {
    max-width: 100%;
}

.navbar-brand {
    width: 181px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;

}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px
}

.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #f5c239;
    color:#f5c239;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #f5c239;
    opacity: 1;
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}

.form-control::-moz-placeholder{
    color: #5e9a28;
    opacity: 1;
}
.form-control:-moz-placeholder{
    color: #5e9a28;
    opacity: 1;
}
.form-control::-webkit-input-placeholder{
    color: #5e9a28;
    opacity: 1;
}
.form-control:-ms-input-placeholder{
    color: #5e9a28;
    opacity: 1;
}
/*font-family class*/
.monseratregular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size:0.875rem;
    text-transform: uppercase;
    color:#000;
}
.robotolight{
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-weight: 300;
}
.culmn{
    width:100%;
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    margin-bottom:20px;
}
.head_title h2{
    color:#333333;
}
.head_title p{
    font-size:1rem;
}

/*home section*/
.home{
    background: url(../images/homebg.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.home .main_home{
    padding-top: 250px;
}

.home .main_home h4{
    color: #fff;
    padding-bottom: 25px;
    font-size:4.5rem;
    line-height: 5rem;
}
.head{
    color: #fff;
    font-size:7.375rem;
    line-height: 11rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin:0 auto;
}




.home .main_home .video_play_icon a i{
    color:#fff;
    border:2px solid #fff;
    padding: 10px;
    font-size:30px;
    border-radius: 50%;


}

.home .owl-theme .owl-nav {
    margin-top: 80px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f5c239;
}
.owl-theme .owl-dots .owl-dot span {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transform: rotate(45deg);
}

/*about section css*/

.about .main_about_content .single_about{
    position: relative;
    transition: all 0.6s;
    margin-bottom: 20px;
}
.about .main_about_content .single_about:hover{
    box-shadow: 6px 6px 9px 1px #95e1d3;
}
.about .main_about_content .single_about .single_about_img img{
    width:100%;
    height: 100%;
}
.about .main_about_content .single_about .single_about_img_overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    color:#fff;
    padding-top: 25%;
    opacity: 0;
    transition: all 0.6s;
}
.about .main_about_content .single_about:hover .single_about_img_overlay{
    opacity: 1;
}
.about .main_about_content .single_about .single_about_img_overlay a{
    color:#fff;
}
.about .main_about_content .single_about .single_about_img_overlay a:hover{
    color:#fce38a
}
.about .main_about_content .single_about .single_about_img_overlay i{
    font-size:1.5rem;
}


/*counter section css*/
.counter{
    background: #3bd3ba;
}

.counter .main_counter_area .single_counter .single_counter_item{
    padding:80px 20px;
    width:100%;
    height: 100%;
}

.counter .main_counter_area .single_counter h2{
    color:#fff;
    font-size:4.5rem;
}
.counter .main_counter_area .single_counter h3{
    color:#fff;
    font-size:1.125rem;
}



/*service section css*/
.border_devider{
    width:100%;
    height: 2px;
    background: #ddd;
    overflow: hidden;
    margin:20px 0px;
    display: inline-block;

}
.service{
    position: relative;
    background: #ffffff;
}
.service .single_service {
    margin-bottom:30px;
    margin-top:20px;
    display: inline-block;
    width:100%;

}

.service .single_service .single_service_icon{
    width: 15%;
    float: left;
    display: inline-block;
    margin-right: 5%;
}
.service .single_service .single_service_icon i{
    color:#95e1d3;
    font-size:2rem;
    margin-top: 10px;
}
.service .single_service .single_service_content{
    width:80%;
    float:right;
}



/*team section css*/

.team .main_team .main_team_content .single_team{
    margin-bottom:30px;
}
.team .main_team .main_team_content .single_team .single_team_img{
    position: relative;
    margin-bottom:40px;

}
.team .main_team .main_team_content .single_team .single_team_img img{
    width:100%;
    height: 100%;

}
.team .main_team .main_team_content .single_team .single_team_content h5{
    font-size:0.875rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#333333;
    margin-bottom:0.5rem;
}
.team .main_team .main_team_content .single_team .single_team_content p{
    color:#999;
    font-size:0.9875rem;
}
.team .main_team .main_team_content .single_team .single_team_img:hover .single_team_overlay{
    opacity: 1;
    box-shadow: 10px 10px 0px 0px #3bd3ba;
}

.team .main_team .main_team_content .single_team .single_team_overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    padding-top: 55%;
    transition:all .6s;
    opacity: 0;
}
.team .main_team .main_team_content .single_team .single_team_overlay a i{
    width:60px;
    height: 60px;
    font-size:1.875rem;
    line-height: 60px;
    color:#f38181;
    background: #fce38a;
    transition: 0.6s;
}
.team .main_team .main_team_content .single_team .single_team_overlay a:hover i{
    color:#fff;
    background: #f38181;
}



/*client section css*/

.client{
    background: url(../images/clientbg.jpg) no-repeat 100% 100%;
    background-size: cover;
    overflow: hidden;
}
.client .main_client_content .single_client{
    margin-bottom:65px;
    overflow: hidden;
}
.client .main_client_content .single_client .single_client_img{
    width:20%;
    float:left;
}
.client .main_client_content .single_client .single_client_content{
    width:75%;
    float:right;
    margin-left:5%;
}
.client .main_client_content .single_client .single_client_content p{
    margin-bottom: 5px;
}

/*blog section css*/
.blog .main_blog_content .single_blog{
    margin-left:10px;
    margin-bottom:30px;
}
.blog .main_blog_content .single_blog .single_blog_img{
    margin-bottom:20px;
    position: relative;
}
.blog .main_blog_content .single_blog .single_blog_img img{
    width:100%;
    height: 100%;
}
.blog .single_blog .single_bolg_date{
    position: absolute;
    left: -10px;
    bottom: 20px;
    background: #3bd3ba;
    color:#fff;
    text-align: center;
    width:60px;
    height: 70px;
    padding-top: 10px;
}
.blog .single_blog .single_bolg_date h2{
    line-height:2rem;
    font-size:1.875rem;
    margin-bottom:0px;
}

.blog .main_blog_content .single_blog .single_blog_content .single_blog_bottom_content a{
    margin-right:15px;
    color:#999999;
}
.blog .main_blog_content .single_blog .single_blog_content .single_blog_bottom_content a i{
    margin-right: 10px;
    color:#95e1d3;
}



/*maps section css*/

.maps{
    background: url(../images/mapbg.jpg) no-repeat top center;
    overflow: hidden;
    background-size: cover;
    position:relative;
}

.main_maps{
    width:100%;
    height: 100%;
}
.main_maps .map_canvas_icon{
    position:absolute;
    left:45%;
    top:35%;
    cursor:pointer;
}
.main_maps i{
    font-size:2.5rem;
    color:#f38181;

}
.main_maps  h2{
    color:#f38181;
}



#map_canvas{
    height: 350px;
    width: 100%;
}








/*footer widget*/

.footer_widget{
    background: #f8f8f8;
    color:#223d61;
}
.footer_widget .main_widget{
    padding: 55px 15px 80px 15px;
    overflow: hidden;
}
.single_widget{
    margin-bottom:30px;
}
.single_widget .single_widget_blog{
    overflow:hidden;
    margin-bottom: 25px;
}
.single_widget .single_widget_blog .single_widget_img{
    width:30%;
    float:left;
}
.single_widget .single_widget_blog .single_widget_content{
    width:65%;
    float:right;
    margin-left:5%;
    margin-top:10px;
}
.single_widget .single_widget_blog .single_widget_content p.monseratregular{
    font-size:0.75rem;
    margin-bottom:0px;
}
.footer_logo{
    margin-bottom: 20px;
}


.single_widget li.single_latest_news{
    margin-bottom: 20px;
}
.footer_subcribs_area .navbar-form {
    padding: 0;
}
.footer_subcribs_area .form-control {
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    width: 65%;
    display: inline-block;
    height: 34px;
}
.footer_subcribs_area .submit_btn{
    background: #95e1d3;
    border: 0px solid #95e1d3;
    color: #fff;
    padding: 5px 10px;
    margin-left: -4px;
    border-radius: 0px 4px 4px 0px;
    height: 34px;
    outline: none;
    font-size: 13px;
    line-height: 23px;
    width:35%;

}
.footer_subcribs_area .flowus a{
    color:#999999;
}
.footer_subcribs_area .flowus a i{
    color:#3bd3ba;
    font-size:1rem;
    padding: 5px;
}

.footer_gellary img{
    width:100%;
}

/*footer section*/
.footer{
    background: #f8f8f8;
}

.main_footer{
    border-top:1px solid #ddd;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#000;
    font-weight: bolder;
}



/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #95e1d3;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

.myservice {
text-align: center;
}

.myservice span {
    font-size: 40px;
    color : lightseagreen;
    padding-bottom: 10px;
}

/* .myservice img {
    max-height: 40px;
    color: red;
    fill: red;
} */

.myservice > h2 {
    font-size: 1.5 rem;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .pricing_card {
     height: 300px;
     margin : 20px 40px;
     position : relative;
     float:center;
     border-right-style: solid;
     border-left-style: solid;
     border-bottom-style: solid;
     border-left-width: thin;
     border-right-width: thin;
     border-left-color : black;
     border-right-color : black;
     border-bottom-color: #ffd91a;
    }

 .pricing_header {
    font-family: 'Roboto', sans-serif;
    font-size:  32px;
    font-weight : 1000;
    color : black;
    width: 100%;
    background-color: #f7f7f7;

    border-top-color: #ffd91a;
    border-top-style : solid;
    border-bottom-color: #ffd91a;
    border-bottom-style: solid;
    padding : 10px;
 }

.pricing_content {
     padding-top : 10px;
     margin-left: 20px;
     margin-right: 20px;
 }
 .pricing_price {
     /* padding-top : 15px; */
     font-size : 30px;
     position: absolute;
     bottom: 0;
 }
 
 .pricing_header_content {
     max-width: 90%;
     color: #4c4c4c;
 }


 .insta {
    color: #bc2a8d;
    border : #bc2a8d;
    border-style: solid;
    border-radius: 2px;
    border-width: thin;
    padding: 4px;
 }

 .svg {
    max-height: 40px;
    fill: #f6c23a;
 }



 /* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

 /* END Slider */


 .navbar-fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 200ms linear;
  }
  
.center-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background: rgba(219, 116, 117, 0.75); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
    rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(219, 208, 46, 0.4) 0%,
    rgba(219, 208, 46, 0.4) 24%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 42%,
    rgba(219, 208, 46, 0.4) 45%,
    rgba(219, 208, 46, 0.4) 55%,
    rgba(219, 208, 46, 0.4) 57%,
    rgba(219, 208, 46, 0.4) 61%,
    rgba(219, 208, 46, 0.4) 62%,
    rgba(219, 208, 46, 0.4) 68%,
    rgba(219, 208, 46, 0.4) 70%,
    rgba(219, 208, 46, 0.4) 77%,
    rgba(219, 208, 46, 0.4) 79%,
    rgba(219, 208, 46, 0.4) 84%,
    rgba(219, 208, 46, 0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7475', endColorstr='#e4cd7d',GradientType=0 ); /* IE6-9 */
}

.parallax {
    /* The image used */
    background-image: url("../images/parallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav > li > a {
    padding : 10px;
}

.pricing_price > h5 {
    font-size: 2.125rem;
    color: black ;
}

.review_name {
    padding : 10px 20px ;
    margin : none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:#000;
}

.review_job {
    padding : 0px 50px ;
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size: 1.2rem;
    font-weight: 300;
}

.review_text {
    padding : 0px 30px ;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.review_image {
    max-width: 60%;
}

i.fab , i.far {
    color : #f6c23a;
}

@media screen and (max-width: 992px) {
    body {
        margin-top: 80px;
    }
    .navbar-fixed-top 
    {
        background : rgba(0, 0, 0, 0.8);
    }
}